@import '{}/imports/ui/stylesheets/utils.less';

.due-date-selector {
  padding: 0.8rem;
  height: 3rem;
  background: none;
  color: rgb(204, 204, 204);

  &.overdue {
    color: rgb(255, 150, 150);
  }

  &.today {
    color: rgb(150, 150, 150);
    font-weight: 700;
  }

  .calender-icon {
    width: 1.1rem;
    height: 1.1rem;
    path {
      transition: fill 200ms ease-in;
      fill: rgb(204, 204, 204);
    }
  }

  &:hover {
    .calender-icon {
      path { fill: rgb(93, 185, 255); }
    }
  }
}
