@import '{}/imports/ui/stylesheets/utils.less';

.list-items .list-item {
  .font-s2;

  // Layout of list-item children
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 100%;

  .checkbox {
    flex: 0, 0, 44px;
    cursor: pointer;
  }
  input[type="text"] { flex: 1; }
  .delete-item { flex: 0 0 3rem; }


  // Style of list-item children
  input[type="text"] {
    background: transparent;
    cursor: pointer;

    &:focus { cursor: text; }
  }

  .delete-item {
    color: @color-medium-rare;
    line-height: 3rem;
    text-align: center;

    &:hover { color: @color-primary; }
    &:active { color: @color-well; }
    .icon-trash { font-size: 1.1em; }
  }


  // Border between list items
  & + .list-item { border-top: 1px solid #f0f9fb; }

  // Checked
  &.checked {
    input[type="text"] {
      color: @color-medium-rare;
      text-decoration: line-through;
    }

    .delete-item { display: inline-block; }
  }

  .priority {
    margin: 4px;
    padding: 4px;
    background-color: @color-secondary;
    line-height: 2.1em;
    border-radius: 14%;
    &.low {
      background-color: @color-cool;
    }
    &.medium {
      background-color: @color-warm;
    }
    &.hot {
      background-color: @color-hot;
    }
  }

  // Editing
  .delete-item { display: none; }
  .list-item-actions {
    display: none;
  }
  .list-action-label {
    display: none;
  }
  &.editing .delete-item { display: inline-block; }
  &.editing .list-item-actions {
    display: inline-block;
    line-height: 2.7em;
    margin: 0 4px;
  }
  &.editing .list-action-label {
    display: inline-block;
    line-height: 2.7em;
    margin: 0 4px;
  }
  &.editing .priority {
    display: none
  }
}
